In [1]:
import numpy as np
import pandas as pd
from datetime import datetime

In [2]:
hotels = pd.read_csv('hotels_data.csv', sep=',')

hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187848 entries, 0 to 187847
Data columns (total 10 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Snapshot ID      187848 non-null  int64
 1   Snapshot Date    187848 non-null  object
 2   Checkin Date     187848 non-null  object
 3   Days             187848 non-null  int64
 4   Original Price   187848 non-null  int64
 5   Discount Price   187848 non-null  int64
 6   Discount Code    187848 non-null  int64
 7   Available Rooms  187848 non-null  int64
 8   Hotel Name       187848 non-null  object
 9   Hotel Stars      187848 non-null  int64
dtypes: int64(7), object(3)
memory usage: 14.3+ MB

In [3]:
hotels.head()

,Snapshot ID,Snapshot Date,Checkin Date,Days,Original Price,Discount Price,Discount Code,Available Rooms,Hotel Name,Hotel Stars
0,1,7/17/2015 0:00,8/12/2015 0:00,5,1178,1040,1,6,Best Western Plus Seaport Inn Downtown,3
1,1,7/17/2015 0:00,8/19/2015 0:00,5,1113,982,1,8,Best Western Plus Seaport Inn Downtown,3
2,1,7/17/2015 0:00,8/13/2015 0:00,5,4370,4240,1,3,The Peninsula New York,5
3,1,7/17/2015 0:00,7/26/2015 0:00,5,1739,1667,1,18,Eventi Hotel a Kimpton Hotel,4
4,1,7/17/2015 0:00,8/12/2015 0:00,5,1739,1672,1,3,Eventi Hotel a Kimpton Hotel,4

In [4]:
# DayDiff - the number of days between the Snapshot Date and the Checkin Date.

hotels['Snapshot Date'] = pd.to_datetime(hotels['Snapshot Date'])

hotels['Checkin Date'] = pd.to_datetime(hotels['Checkin Date'])

hotels['DayDiff'] = (hotels['Checkin Date'] - hotels['Snapshot Date']).dt.days

hotels['DayDiff']

0         26
1         33
2         27
3          9
4         26
          ..
187843    20
187844    20
187845     5
187846    18
187847    20
Name: DayDiff, Length: 187848, dtype: int64

In [5]:
# WeekDay - the day of the week (Sun/Mon/Tue/Wed/Thu/Fri/Sat) of the Checkin Date.
hotels['WeekDay'] = hotels['Checkin Date'].dt.day_name()

hotels['WeekDay']

0         Wednesday
1         Wednesday
2          Thursday
3            Sunday
4         Wednesday
            ...
187843       Friday
187844       Friday
187845     Thursday
187846    Wednesday
187847       Friday
Name: WeekDay, Length: 187848, dtype: object

In [6]:
# DiscountDiff - the discount amount in dollars (the difference between Original Price and Discount Price).
hotels['DiscountDiff'] = hotels['Original Price'] - hotels['Discount Price']

hotels['DiscountDiff']

0         138
1         131
2         130
3          72
4          67
         ...
187843     60
187844    240
187845     59
187846     57
187847    152
Name: DiscountDiff, Length: 187848, dtype: int64

In [7]:
# DiscountPerc - the discount percentage.
hotels['DiscountPerc'] = round((hotels['Original Price'] - hotels['Discount Price']) / hotels['Original Price'] * 100, 1)

hotels['DiscountPerc']

0         11.7
1         11.8
2          3.0
3          4.1
4          3.9
          ...
187843     3.0
187844    11.4
187845     4.1
187846     3.3
187847     8.0
Name: DiscountPerc, Length: 187848, dtype: float64